* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 9;
    width: 100%;
}
.headerBG {
    background-color: #ff6900;
}

.margin {
    width: 1170px;
    margin: auto;
}

.displayheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.displayheader ul li {
    list-style: none;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navitem a{
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.navitem a:hover{
    color: red;
}

.header-logo img{
    height: 30px;
}

.display-main {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
}

.display-none {
    display:none;
}

.first-image {
    width: 100%;
}

.main-item {
    width: calc(100% / 3);
    position: relative;
}
.padding {
    padding: 10px;
}

.sales {
    position:absolute;
    bottom: 16%;
    background-color: red;
    color: white;
    padding: 3px 5px;
    font-weight: bold;
}

.sustainability {
    position:absolute;
    bottom: 16%;
    left: 15%;
    background-color: green;
    color: white;
    padding: 3px 5px;
    font-weight: bold;
}

.sustainability2 {
    position:absolute;
    bottom: 16%;
    background-color: green;
    color: white;
    padding: 3px 5px;
    font-weight: bold;
}

h5  {
    font-weight: lighter;
}
h4 span {
    color: red;
    text-decoration: none;
}
.favourite {
    position: absolute;
    background-color: #e7e7e4;
    font-size:25px;
    padding: 5px;
    top: 30px;
    right: 10px;
}

.favourite:hover {
    color: red;
}